@import '../abstracts/Mixins.scss';

.header__search {
  @include screen('l') {
    width: 200px;
  }
  @include screen('xs') {
    @include size(150px, 26px);
    margin-right: 10px;
  }
  @include size(264px, 32px);
  display: flex;
  align-items: center;
  background: $gray-transparent-11;
  border: 1px solid $gray-lightest;
  padding: 1px 6px;
  margin-right: 25px;
}

.icon-search {
  margin: 0 10px 2px 0;
}
